.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__group-title {
    width: 20%;
    margin-top: 30px;
    text-align: left;
}

.form__label--item {
    font-weight: bold;
}

.form__label {
    margin: 30px 20px 0 0;
    font-weight: bold;
}

.form__group-content {
    width: 80%;
    margin-top: 15px;
    text-align: right;
}

.form__label--required {
    color: #ff0101;
}
.form__label--example {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    color: #aaa;
    text-align: left;
}

.form__error {
    margin-left: 5px;
    padding: 4px 6px;
    color: #ffffff;
    background-color: #b83030;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__input--text__name {
    display: flex;
    justify-content: space-between;
}

.form__input--text__inner {
    width: 45%;
}

.form__input--radio {
    padding: 10px;
    width: 600px;
    border: none;
    border-radius: 3px;
    appearance: none;
    text-align: left;
}

input[type="radio"] {
    margin-bottom: 16px;
    transform: scale(2);
    opacity: 0.5;
}
label{
    margin-right: 20px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}