/* {
    line-height: 1;
}

.number__child {
    padding-left: 40px;
}

.number__parent:nth-of-type(3n) {
    color: red;
}

.number__child:nth-of-type(n + 2) {
    color: blue;
}

p {
    font-family: 'Gorditas', cursive;
    font-size: 20px;
}

h2 {
    font-family: 'Noto Serif JP',serif;
}

* {
    padding: 0;
    margin: 0;
}


/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img {
    width: 100%;
    height: 100vh;
    /* height: 100%;でもどうように動作します
}

/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    width: 500px;
    height: 500px;
}

.red-box {
    width: 100%;
    height: 50%;
    background-color: red;
}

.blue-box {
    width: 100%;
    height: 50%;
    background-color: blue;
}

.boxsizing {
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 30px;
    border: 20px solid blue;
    margin: 100px auto 0;
}

.contet-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}*/


/*.practice__btn {
    width: 200px;
    padding: 10px 0;
    color: #fff;
    border-radius: 30px;
    background: linear-gradient(90deg, #ff5800, #8b00be);
    text-align: center;
    box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
    margin: 100px auto 0;
    display: block;
}
/*.practice__btn {
    width: 200px;
    padding: 10px 0;
    color: #fff;
    border-radius: 30px;
    background: linear-gradient(90deg, #ff5800, #8b00be);
    text-align: center;
    box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
    margin: 100px auto 0;
    display: block;
}*/

/*body {
    width: 760px;
    margin: 100px auto;
}

.card {
    box-shadow: 0 0 6px #eeeeee;
    display: flex;
}

.card__img {
    width: 40%;
}

.card__img img {
    width: 100%;
    vertical-align: top;
}

.card__content {
    padding: 15px;
}
.card__content-ttl {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.card__content-tag {
    font-size: 14px;
    display: inline-block;
}

.card__content-tag--red {
    color: red;
    margin-left: 40px;
}*/




/*.flex__item {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 30%;
    margin: 100px auto 0;
    box-shadow: 0px 3px 10px rgba(126, 57, 57, 0.2);
}
.card__img img {
    width: 100%;
}
.card__content {
    padding: 15px 25px;
}
.card__content-ttl {
    font-size: 18px;
    margin-bottom: 30px;
    
}
.card__content-cat {
    font-size: 14px;
    background: #008888;
    color: #fff;
    margin-bottom: 15px;
    padding: 5px 10px;
    display: inline-block;
}
.card__content-tag {
    text-align: right;
    font-size: 14px;
}
.card__content-tag-item {
    display: inline-block;
    color: #008888
}
.card__content-tag-item--last {
    display: inline-block;
    color: #888888;
    margin-left: 20px;
}*/


/*.relative {
    position: relative;
}

.relative__img {
    margin: 0 0 0 auto;
    display: block;
    width: 50%;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 50px;
}*/


/*.float {
    max-width: 760px;
    width: 100%;
    margin: 60px auto;
}

.float__ttl {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.float__img {
    width: 400px;
    padding: 0 0 20px 20px;
    float: right;
}

img {
    width: 100%;
}*/




/*.grid__parent {
    display: grid;
    grid-template-rows: 100px 300px 300px;
    grid-template-columns: 2fr 1fr 1fr;
}
.box1 {
    grid-column: 1/4;
    grid-row: 1/2;
    background: #004e4e;
}
.box2 {
    grid-column: 1/2;
    grid-row: 2/4;
    background: #008888;
}
.box3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #049fb3;
}
.box4 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: #55bbbb;
}
.box5 {
    grid-column: 2/4;
    grid-row: 3/4;
    background: #8aacac;
}*/


/*.grid__parent {
    display: grid;
    grid-template-rows: 300px 300px 100px 200px;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}*/

/*.grid__parent {
    display: grid;
    grid-template-rows: 300px 300px 100px 200px;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

.grid__parent div {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background: #255e2f;
}

.box2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #008888;
}

.box3 {
    grid-column: 2/4;
    grid-row: 1/2;
    background: #049fb3;
}

.box4 {
    grid-column: 2/4;
    grid-row: 2/3;
    background: #55bbbb;
}

.box5 {
    grid-column: 4/5;
    grid-row: 1/4;
    background: #8aacac;
}

.box6 {
    grid-column: 1/4;
    grid-row: 3/4;
    background: #2b2d80;
}

.box7 {
    grid-column: 1/3;
    grid-row: 4/5;
    background: #880071;
}

.box8 {
    grid-column: 3/4;
    grid-row: 4/5;
    background: #5d801d;
}*/



/*.download__btn {
    position: relative;
    background-color: #55bbbb;
    width: 200px;
    display: block;
    padding: 18px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    margin: 100px auto;
}

.download__btn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    background: url(../img/download__icon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translate(0, -50%);
}*/


/*.speech__bubble {
    padding: 10px 20px;
    background: red;
    position: relative;
    display: inline-block;
    color: #fff;
}


.speech__bubble::after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid red;
}*/

/*.plactice__btn {
    position: relative;
    background-color: #55bbbb;
    width: 200px;
    display: block;
    padding: 18px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    margin: 100px auto;

}

.plactice__btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    background: url(../img/mail.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}





.plactice__btn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    background: url(../img/download__icon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%) rotate(-90deg);
}

.relative {
    position: relative;
    top: 50px;
    left: 50px;
}
.red-box {
    width: 500px;
    height: 500px;
    background-color: red;
}

.absolute {
    position: absolute;
    top: 100px;
    left: 100px;
}
.blue-box {
    width: 500px;
    height: 500px;
    background-color: rgb(15, 120, 240);
}*/

header {
    height: 80px;
    background-color: rgb(31, 148, 41);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    color: white;
    font-size: 30px;
    margin: 0 0 0 50px;
}

.header-menu {
    display: flex;
    margin-right: 20px;
}
.header-menu__about {
    color: white;
    font-size: 16px;
    padding: 0 20px;
    list-style: none;
}
.header-menu__contact {
    color: white;
    font-size: 16px;
    padding: 0 20;
    list-style: none;
}

.main__img img {
    width: 100%;
}

.subtitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: HGPMinchoB;
    font-weight: bold;
}
.subtitle-top {
    font-size: 30px;
    margin: 10px 0;
}
.subtitle-bottom {
    font-size: 42px;
    margin: 10px 0;
    color: rgb(35, 231, 17);
}

.description {
    display: flex;
}

.description__img img{
    width: (100% - 40px);
    box-sizing: border-box;
    padding: 0 20px;
}

.btns {
    margin: 30px 0;
    text-align: center;
    font-size: 30px;
    
}
.btn-top{
    background-color: rgb(248, 182, 2);
    color: white;
    padding: 0 30px;
    border-radius: 20px;
}
.btn-bottom {
    background-color: rgb(62, 250, 25);
    color: white;
    padding: 0 60px;
    border-radius: 20px;
    margin: 20px 0;
    line-height: 10px;
}
a {
    text-decoration: none;
}

.footer {
    text-align: center;
    background-color: rgb(35, 207, 35);
    color: white;
    padding: 13px;
}

.footer-title {
    font-size: 20px;
}